<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%-include('common/nav') %>
    <h1 align="center">Change Password</h1>
    <center>
        <a href="/dashboard">Dashboard</a> &nbsp;
        <a href="/change_password">Change Password</a>&nbsp;
        <a href="/logout">Logout</a>
 </center>

    <form action="/change_password" method="post" align="center">
       Enter old Password<input type="password" name="oldpass" required><br><br>
       Enter New Password<input type="password" name="newpass" required><br><br>
       Enter Confirm Password<input type="password" name="confpass" required><br><br>
       <button>Change Password</button>
    </form>
</body>
</html>