<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%-include('common/nav') %>
    <form action="/delete_record" method="post">
        enter your name<input type="text " name="name" required><br><br>
        <button>delete</button>

    </form>
    <% if(locals.message)
    {%>
        <h1><%=message%></h1>
  <%  } %>
</body>
</html>