<center>
    <a href="/">home</a>
    <a href="/delete_record">delete</a>
    <a href="/display_record">Display record</a>
    <a href="/search_record">Search record</a>
    <a href="/update_record">update_record</a>
    <a href="/login">Login</a>
    <a href="/newuser">NewUser</a>
</center>